@use './lists/styles.scss';
// UA style list elements
@mixin list_element($name, $style-type){
  #{$name} {
    list-style-position:outside;
    padding:10px;
    list-style-type: $style-type;
  }
}

@include list_element(ul, disc);

@include list_element(ol, decimal);

li{
  display:list-item;
}


::marker{
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: auto !important;
}
